/*
  =============
  //Template 
  =============
*/
:root{
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(images/the_valley.jpg);
    background-size: auto;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-height: 100vh;
}



header{
    font-size: 2rem;
}

header, 
form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

/*
-----------------
TO-DO List
-----------------
*/
form input, 
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white
}

form button{
    color: rgb(181, 106, 162);
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}


form button:hover{
    color: rgb(181, 106, 162); 
}

.alert {
    margin-bottom: 1rem;
    height: 1.25rem;
    display: grid;
    align-items: center;
    text-align: center;
    font-size: 0.7rem;
    border-radius: 0.25rem;
    letter-spacing: var(--spacing);
    text-transform: capitalize;
}

.alert-danger {
    color: #721c24;
  background: #f8d7da;
}

.alert-success {
    color: #155724;
    background: #d4edda;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control {
    display: flex;
    justify-content: center;
  }

.todo-list{
    min-width: 30%;
    list-style: none;
}

#todo-app::placeholder {
    font-family: var(--ff-secondary);
    color: var(--clr-grey-5);
  }

.todo {
    margin:0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-li{
    flex: 1;
}

.todo-container {
    margin-top: 2rem;
    transition: var(--transition);
    visibility: hidden;
}

.trash-btn, .complete-btn{
    background: rgb(181, 106, 162);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn {
    background: rgb(73,204,73);
}

.todo-item{
    padding: 0rem 0.5rem;
}

.title {
    margin-bottom: 0;
    color: var(--clr-grey-1);
    letter-spacing: 2px;
    transition: var(--transition);
  }
  .edit-btn,
  .delete-btn {
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    font-size: 0.7rem;
    margin: 0 0.15rem;
    transition: var(--transition);
  }

  .edit-btn {
    color: var(--clr-green-light);
  }
  .edit-btn:hover {
    color: var(--clr-green-dark);
  }
  .delete-btn {
    color: var(--clr-red-light);
  }
  .delete-btn:hover {
    color: var(--clr-red-dark);
  }
  .clear-btn {
    text-transform: capitalize;
    width: 10rem;
    height: 1.5rem;
    display: grid;
    align-items: center;
    background: transparent;
    border-color: transparent;
    color: var(--clr-red-light);
    margin: 0 auto;
    font-size: 0.85rem;
    letter-spacing: var(--spacing);
    cursor: pointer;
    transition: var(--transition);
    margin-top: 1.25rem;
  }
  .clear-btn:hover {
    color: var(--clr-red-dark);
  }